""" Globals -----------------------------------------------------------
let mapleader=" "
let maplocalleader=" "

""" Plugins -----------------------------------------------------------
set commentary

""" Options -----------------------------------------------------------
set history=1000
set nohlsearch
set incsearch
set number
set relativenumber
set scrolloff=12

""" Mappings ----------------------------------------------------------
nmap <leader>p <Action>(ReformatCode)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>cr <Action>(RenameElement)
nmap <leader>dj <Action>(GotoNextError)
nmap <leader>dk <Action>(GotoPreviousError)
