"" ##################
"" Globals
"" ##################

let mapleader=" "
let maplocalleader=" "

"" ##################
"" Options
"" ##################

set nohlsearch
set incsearch
set number
set relativenumber

"" ##################
"" Plugins
"" ##################

set commentary
set easymotion
set nerdtree
set sneak

"" ##################
"" Mappings
"" ##################

nmap [b <Action>(PreviousTab)
nmap ]b <Action>(NextTab)

nmap <C-v> <Action>(SplitVertically)
nmap <C-x> <Action>(SplitHorizontally)

nmap grd <Action>(GotoDeclaration)
nmap gri <Action>(GotoImplementation)
nmap grt <Action>(GotoTypeDeclaration)
nmap grr <Action>(ShowUsages)
nmap gra <Action>(CodeMenu)
nmap grn <Action>(RenameElement)
nmap gl <Action>(ShowErrorDescription)
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)
nmap <leader>cf <Action>(ReformatCode)

nmap <leader>ff <Action>(GotoFile)
nmap <leader>fg <Action>(FindInPath)

nmap <C-n> :NERDTreeToggle<CR>

nmap <leader>tz <Action>(ToggleDistractionFreeMode)
nmap <leader>tp <Action>(TogglePowerSave)