"" ##################
"" ## Globals
"" ##################

let mapleader=" "
let maplocalleader=" "

"" ##################
"" ## Options
"" ##################

set history=1000
set nohlsearch
set incsearch
set number
set relativenumber

"" ##################
"" ## Plugins
"" ##################

set commentary
set NERDTree
set sneak

"" ##################
"" ## Mappings
"" ##################

nmap <C-v> <Action>(MoveTabRight)
nmap <C-x> <Action>(MoveTabDown)

nmap gi <Action>(GotoImplementation)
nmap gd <Action>(GotoDeclaration)
nmap gr <Action>(ShowUsages)
nmap gl <Action>(ShowErrorDescription)
nmap [d <Action>(GotoNextError)
nmap ]d <Action>(GotoPreviousError)

nmap <leader>ff <Action>(GotoFile)
nmap <leader>fg <Action>(FindInPath)

nmap <leader>ca <Action>(CodeMenu)
nmap <leader>cf <Action>(ReformatCode)
vmap <leader>cf <Action>(ReformatCode)
nmap <leader>cr <Action>(RefactoringMenu)

nmap <C-n> :NERDTreeToggle<cr>
nmap <leader>n :NERDTreeFocus<cr>

nmap <leader>tz <Action>(ToggleDistractionFreeMode)
nmap <leader>tp <Action>(TogglePowerSave)